%div{ class: "w-4/5 mx-auto pt-10 text-slate-900" }
  .mb-3
    %h2.text-xl.font-bold= @dict.name.upcase
  .mb-2
    %span.text-lg Entries
  %ul
    - @entries.each do |entry|
      %li
        = link_to entry_path(entry) do
          %article
            %h3
              %b= entry.source.capitalize
              %span -
              %span.italic= entry.target.capitalize
